<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Brandness Regression Suite">

    <test name="Regression">

        <classes>

            <class name="com.qa.tests.BrandnessPositiveLoginTest"/>
           <!-- <class name="com.qa.tests.NegativeLoginTest"/> -->

            <class name="com.qa.tests.DashboardTestPositive"/>
            <class name="com.qa.tests.DashboardNegativeTest"/>

            <class name="com.qa.tests.ContactManagementPositiveTest"/>
            <class name="com.qa.tests.ContactManagementNegativeTest"/>

            <class name="com.qa.tests.NewDashboardNegativeTest"/>

        </classes>

    </test>

<listeners>
    <listener class-name="com.qa.utilities.TestListener"/>
</listeners>

</suite>